body{
  text-align: center;
  display: flex;
  justify-content: center;
  background: #333333;
  color: white;
}

.App{
  margin: auto;
}

.addItem{
  display: block;
  justify-content: center;
  margin: 10px 0;
}
.addItem:hover{
  display: block;
}


.hidden{

}
.addItem:hover .hidden{
  display: block;
}


.done{
  background: lightgray;
  border-radius: 10px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.list{
  gap: 10px;
  margin: auto;
}

.alreadyDone{
  margin: 0 auto;
}

.notDone{
  margin: 0 auto;
  opacity: 0.4;
}
.paggingPanel{
  justify-content: center;
  gap: 10px;
  padding: 5px;
  display: flex;
}

.del:hover{
  background: lightcoral;
  opacity: 1;
  border-radius: 10px;
}
.del{
  display: flex;
  align-items: flex-end;
  opacity: 0;
}